/.vscode
*/__pycache__/
*/__pycache__/*
hang/__pycache__
hang/__pycache__/*
hangapp/__pycache__
hangapp/__pycache__/*
hang/hang/__pycache__
hang/hang/__pycache__/*
hang/hangapp/__pycache__
hang/hangapp/__pycache__/*
hang/hang/__pycache__/__init__.cpython-39.pyc
hang/hang/__pycache__/settings.cpython-39.pyc
hang/hang/__pycache__/urls.cpython-39.pyc
hang/hang/__pycache__/wsgi.cpython-39.pyc
hang/hangapp/__pycache__/__init__.cpython-39.pyc
hang/hangapp/__pycache__/models.cpython-39.pyc
hang/hangapp/__pycache__/urls.cpython-39.pyc
hang/hangapp/__pycache__/views.cpython-39.pyc
hang/hang/__pycache__/__init__.cpython-39.pyc
hang/hang/__pycache__/settings.cpython-39.pyc
hang/hang/__pycache__/urls.cpython-39.pyc
hang/hang/__pycache__/wsgi.cpython-39.pyc
hang/hangapp/__pycache__/__init__.cpython-39.pyc
hang/hangapp/__pycache__/models.cpython-39.pyc
hang/hangapp/__pycache__/urls.cpython-39.pyc
hang/hangapp/__pycache__/views.cpython-39.pyc
hang/hangapp/migrations/__pycache__/__init__.cpython-39.pyc