/.vscode
*/__pycache__/
*/__pycache__/*
hangapp/__pycache__
hangapp/__pycache__/*
hang-django-project/__pycache__
hang-django-project/__pycache__/*
hang-django-project/hang/__pycache__
hang-django-project/hang/__pycache__/*
hang-django-project/hangapp/__pycache__
hang-django-project/hangapp/__pycache__/*
hang-django-project/hang/__pycache__/__init__.cpython-39.pyc
hang-django-project/hang/__pycache__/settings.cpython-39.pyc
hang-django-project/hang/__pycache__/urls.cpython-39.pyc
hang-django-project/hang/__pycache__/wsgi.cpython-39.pyc
hang-django-project/hangapp/__pycache__/__init__.cpython-39.pyc
hang-django-project/hangapp/__pycache__/models.cpython-39.pyc
hang-django-project/hangapp/__pycache__/urls.cpython-39.pyc
hang-django-project/hangapp/__pycache__/views.cpython-39.pyc
hang-django-project/hang/__pycache__/__init__.cpython-39.pyc
hang-django-project/hang/__pycache__/settings.cpython-39.pyc
hang-django-project/hang/__pycache__/urls.cpython-39.pyc
hang-django-project/hang/__pycache__/wsgi.cpython-39.pyc
hang-django-project/hangapp/__pycache__/__init__.cpython-39.pyc
hang-django-project/hangapp/__pycache__/models.cpython-39.pyc
hang-django-project/hangapp/__pycache__/urls.cpython-39.pyc
hang-django-project/hangapp/__pycache__/views.cpython-39.pyc
hang-django-project/hangapp/migrations/__pycache__/

hang-django-project/db.sqlite3