body{
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(76, 100, 136);
    line-height: 25px;
}
a{
    text-decoration:none;
    font-weight: bold;
}
button{
    padding: 5px;
}
.mainDiv{
    width: 60%;
    margin: auto;
    background-color: floralwhite;
    padding: 25px;
    border-radius: 10px;
}
code{
    background-color: rgb(74, 82, 92);
    color:white;
    border-radius: 5px;
    padding: 3px 5px;
    margin-top: 10px;
    width:fit-content;
}
code.block{
    display: block;
}
li{
    padding:5px;
    font-size: large;
}
