/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap");

:root {
    /* Color Palette */
    --medium-red: #e63946ff;
    --neutral: #f1faeeff;
    --light-blue: #a8dadcff;
    --medium-blue: #457b9dff;
    --dark-blue: #1d3557ff;
}

html,
body {
    background-color: var(--neutral);
    font-family: "M PLUS 1p", sans-serif;
    color: var(--dark-blue);
    height: 100%;
}

#errorBox {
    position: fixed;
    bottom: 15px;
    left: 15px;
    right: 15px;
    background-color: var(--medium-red);
    height: 40px;
    border-radius: 20px;
    color: var(--neutral);
    text-align: center;
}

#contentContainer > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexDown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chipViewContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-x: auto;
    /* Uncomment this to force the chips to scroll horizontally*/
    /*height: 48px;*/
}

.chipView {
    font-size: 10pt;
    height: 32px;
    line-height: 32px;
    background-color: var(--light-blue);
    color: var(--dark-blue);
    width: auto;
    overflow: hidden;
    white-space: nowrap;
}


#suggest__submitSuggestionButton {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: var(--medium-red);
    padding: 0;
    margin: 0;
    border: transparent;
}

/**
Generic Styles
 */
.box {
    box-shadow: 0 2px 5px 0 var(--dark-blue);
    text-align: center;
    margin: 4px;
    padding: 0 8px;
    border-radius: 16px;
}


.buttonMedium {
    box-shadow: 0 2px 5px 0 var(--dark-blue);
    background-color: var(--medium-blue);
    color: var(--neutral);
    margin: 4px;
    padding: 8px 16px;
    border-radius: 16px;
    border-color: transparent;
    height: 32px;
    /*line-height: 32px;*/
    text-align: center;
    font-weight: lighter;
}
.buttonLarge {
    box-shadow: 0 2px 5px 0 var(--dark-blue);
    background-color: var(--medium-blue);
    color: var(--neutral);
    margin: 8px;
    padding: 8px 16px;
    border-radius: 24px;
    border-color: transparent;
    height: 48px;
    /*line-height: 48px;*/
    text-align: center;
    width: 64%;
    font-size: 14pt;
    font-weight: 700;
}

input[type=text] {
    box-shadow: 0 2px 5px 0 var(--dark-blue);
    text-align: center;
    margin: 8px;
    padding: 0 8px;
    border-radius: 16px;
    border-color: transparent;
    height: 32px;
    /*width: 80%;*/
}

h2 {
    text-align: center;
}

button, button:hover, button:focus {
    border-color: transparent;
}


/**
Component Styles
 */

.optionDetailCard>form {
    background-color: var(--neutral);
    border-radius: 20px;
    width: 75%;
    height: 80%;
    margin: auto;
    box-shadow: 0 2px 5px 0 var(--dark-blue);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.optionDetailCard>h2 {
    flex-grow: 1.5;
    vertical-align: center;
}
.buttonVote {
    flex-grow: 1;
    width: 70%;
    height: 48px;
    border-radius: 24px;
    border-color: transparent;
}

#vote__YesButton {
    background-color: var(--medium-blue);
}
#vote__NoButton {
    background-color: var(--medium-red);
}

.optionText {
    font-weight: 400;
    font-size: 20pt;
    text-align: center;
}

.optionListItem{
    display: flex;
    flex-direction: row;

}
