{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'hangapp/style.css' %}">
    <title>Session {{session.id}}</title>
</head>

<body>
    <div class="mainDiv">
        <h1>Session started by {{session.creator.username}}</h1>
        <h2>Voting as {{user.username}} </h2>

        {% for decision in session.decision_set.all %} 
        <div class="decision">
            <h3>{{decision.decisionText}}</h3>
        </div>
        {% endfor %}

        <form action="{% url 'addDecision' session.id user.id %}" method="POST">
            {% csrf_token %}
            <input type="text" name="decisionText" id="newDecisionBox">
            <input type="submit" value="New Decision">
        </form>

        
        <form action="{% url 'voteSession' session.id user.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Start Voting">
        </form>

        <div class="shareableLink">
            <a href="{{session.getInviteLink}}">
        </div>

    </div>
</body>

</html>