{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'hangapp/style.css' %}">
    <title>Welcome | Hangapp</title>
</head>

<body>
    <div class="mainDiv">
        <h1>Welcome</h1>

        {% if session %}
        <h2>Joining {{session}}</h2>
        <p>Enter your name to get started.</p>
        <form action="{% url 'newUserJoinSession' session.id %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" id="usernameInput">
            <input type="submit" value="Start a Session">
        </form>
        {% else %}
        <h2>Creating a new session</h2>
        <form action="{% url 'newUserNewSession' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" id="usernameInput">
            <input type="submit" value="Start a Session">
        </form>
        {% endif %}

    </div>
</body>

</html>