{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'hangapp/style.css' %}">
    <title>Vote on {{option.optionText}} | Hangapp</title>
</head>

<body>

    <script>
        {
            % comment %
        }

        function vote(voteCode, optionId) {
            switch (voteCode) {
                case "0":
                    write("voted no", `${optionId}out`);
                case "1":
                    write("voted neutral", `${optionId}out`);
                case "2":
                    write("voted yes", `${optionId}out`);
                default:
                    write("what", `${optionId}out`);
            }
        }

        function write(text, id) {
            document.getElementById(id).innerHTML = text;
        } {
            % endcomment %
        }
    </script>

    <div class="mainDiv">
        <h1>Vote on {{option.decision.decisionText}}</h1>
        <em>Voting as {{user.username}}</em>
        <div>
            <h3 class="option">{{option.optionText}}</h3>
            <form action="{% url 'vote' option.id user.id %}" method="POST">
                {% csrf_token %}
                <button name="vote" value="no" id="">❎</button>
                <button name="vote" value="neutral" id="">🤷‍♂️</button>
                <button name="vote" value="yes" id="">✅</button>
            </form>
        </div>
    </div>


</body>

</html>