body{
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(55, 160, 151);
    line-height: 25px;
}
a{
    text-decoration:none;
    font-weight: bold;
}
form>input, button{
    display:block;
    margin:auto;
    padding: 15px;
    margin-top: 15px;
}
button{
    padding: 5px;
}
.voteButton{
    font-size:larger;
}
.mainDiv{
    width: 40%;
    margin: auto;
    background-color: floralwhite;
    padding: 15px;
    border-radius: 10px;
}
.results{
    text-align:center;
}
.results>h1{
    font-size:36pt;
}
code{
    background-color: rgb(74, 82, 92);
    color:white;
    border-radius: 5px;
    padding: 3px 5px;
    margin-top: 10px;
    width:fit-content;
}
code.block{
    display: block;
}
li{
    padding:5px;
    font-size: large;
}
