{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'hangapp/style.css' %}">
    <title>Session started by {{session.creator.username}} | HangApp</title>
</head>

<body>
    <div class="mainDiv">
        <h1>Session started by {{session.creator.username}}</h1>
        <em>Contributing as {{user.username}} </em>

        <p>What are we deciding on?</p>
        {% for decision in session.decision_set.all %}
        <div class="decision">
            <li>{{decision.decisionText}}</li>
        </div>
        {% endfor %}

        <form action="{% url 'addDecision' session.id user.id %}" method="POST">
            {% csrf_token %}
            <input type="text" name="decisionText" id="newDecisionBox">
            <input type="submit" value="Add Decision">
        </form>
        
        {% if session.decision_set.first %}
        <form action="{% url 'voteSession' session.id user.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Start Voting">
        </form>
        
        <div class="shareableLink">
            <p>Invite others! Right-click to copy and share with friends.</p>
            <a target="_blank" href="{{session.getInviteLink}}">Invite Link</a>
        </div>
        {% endif %}

    </div>
</body>

</html>